<h2><?=$title?></h2>
<?=$this->getContent()?>
<div class="card">
<?=$this->tag->form($this->router->getRewriteUri())?>
<div class="card-body">
<?=$this->tag->textField(['username', 'class' => 'form-control', 'placeholder' => 'Username'])?>
</div>
<div class="card-footer">
<?=$this->tag->submitButton(['Simpan', 'class' => 'btn btn-primary'])?>
</form>
</div>
</div>
