<h2>List data Users</h2>
<?=$this->tag->linkTo(['/users/create', 'Tambah Data', 'class' => 'btn btn-link'])?>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th></th>
    </tr>
    <?php foreach ($users as $user): ?>
    <tr>
        <td><?=$user->id?></td>
        <td><?=$user->username?></td>
        <td>
            <?=$this->tag->linkTo(['/users/update/' . $user->id, 'Ubah', 'class' => 'btn btn-light'])?>
            <?=$this->tag->linkTo(['/users/delete/' . $user->id, 'Hapus', 'class' => 'btn btn-danger'])?>
        </td>
    </tr>
    <?php endforeach?>
</table>
